{% extends 'base.html.twig' %}

{% block title %}Création{% endblock %}

{% block body %}

<h2>Création d'un nouveau challenge</h2>

{{ include ('_form.html.twig', {button: 'Créer'}) }}

{% endblock %}