{% extends 'base.html.twig' %}

{% block title %}Toutes les catégories{% endblock %}

{% block body %}

<div>
    {% for category in categories %}

        <h2>
            <a href="{{ path('category.show', {id: category.id, slug: category.slug}) }}">
                {{ category.title }}
            </a>
        </h2>

    {% endfor %}
</div>

{% endblock %}