{% extends 'base.html.twig' %}

{% block title article.title %}

{% block body %}

{% for message in app.flashes('success') %}
    <div class="alert alert-success">{{ message }}</div>
{% endfor %}

<h2>{{ article.title }}</h2>
<p>{{ article.date | date('d/m/Y H:i:h') }}</p>
<p>{{ article.content }}</p>

{% endblock %}